@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B6FFBA;
    
}

h1{
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

h2{
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

button{
    display: inline-block;
    padding: 0.5em 1em;
    
    padding: 10px;
    text-decoration: none;
    background-color: #b6ffba;
    color: rgb(0, 0, 0);
    border-radius: 0px 100px 100px 0px;
    border: 1px solid black;

    margin-right: 15px;
}

.container {
    background: white;
    width: 36vw;
    height: 2140px;

    margin-top: 0px;    
    padding: 25px;

    border-radius: 32px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
}

.calcular {
    visibility: hidden;
    position: absolute;

    top: 15%;
    left: 36%;

}

.aveia {
    visibility: visible;
}

#cacau-div{
    transform: translateY(70vh);
}

#leite-div{
    transform: translateY(140vh);
}

#amendoim-div{
    transform: translateY(210vh);
}

#total-div{
    transform: translateY(280vh);
    position: absolute;
    top: 15%;
    left: 38%;
}



.calcular p{
    text-align: center;
    display: block;
    font-size: 1em;
    font-family: Poppins, sans-serif;
}

.calcular input {
    background-color: white;
    border: 1px solid black;
    border-radius: 100px 0px 0px 100px;
    padding: 10px;
    
    margin-left: 90px;
    margin-right: 5px;
}

