@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(185, 255, 182, 0.5);
    /*antiga cor B6FFBA*/
}

h1 {
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

h2 {
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

button {
    display: inline-block;
    padding: 0.5em 1em;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(202, 255, 205, 0.781);
    color: rgb(0, 0, 0);
    border-radius: 0px 100px 100px 0px;
    border: 1px solid black;
    margin-right: 15px;
}

.container {
    background: white;
    width: 36vw;
    height: 2250px;
    margin-top: 0px;
    padding: 25px;
    border-radius: 32px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
}

.calcular {
    visibility: hidden;
    top: 15%;
    left: 36%;
}

.aveia {
    visibility: visible;
}

#cacau-div {
    transform: translateY(2vh);
}

#leite-div {
    transform: translateY(4vh);
}

#amendoim-div {
    transform: translateY(8vh);
}

#total-div {
    transform: translateY(10vh);
    top: 15%;
    left: 38%;
}

.calcular p {
    text-align: center;
    display: block;
    font-size: 1em;
    font-family: Poppins, sans-serif;
}

.calcular input {
    background-color: white;
    border: 1px solid black;
    border-radius: 100px 0px 0px 100px;
    padding: 10px;
    margin-left: 90px;
    margin-right: 5px;
}